---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import BaseHead from '@/components/BaseHead.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../seo'

const {
  content: { title = SITE_TITLE, description = SITE_DESCRIPTION },
} = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="font-display flex flex-col">
    <Header />
    <slot />
    <Footer />
    <script is:inline>
      if ('serviceWorker' in navigator) {
        fetch('/version.json')
          .then((res) => res.json())
          .then((res) => {
            if (res && res.version) {
              localStorage.setItem('received-sw-version', res.version)
              console.log('going to register.')
              navigator.serviceWorker.register('/service-worker.js').then(
                (registration) => {
                  console.log('Service worker registration succeeded:', registration)
                  const swVersion = localStorage.getItem('sw-version')
                  if (swVersion) {
                    if (swVersion !== res.version) {
                      console.log('Update registeration')
                      self.caches.delete('prefetch').then(() => {
                        registration.update().then(() => {
                          // Update the version if updated locally
                          localStorage.setItem('sw-version', res.version)
                        })
                      })
                    }
                  } else {
                    localStorage.setItem('sw-version', res.version)
                  }
                },
                (error) => {
                  console.error(`Service worker registration failed: ${error}`)
                },
              )
            }
          })
      } else {
        console.error('Service workers are not supported.')
      }
      window.addEventListener('load', (event) => {
        const attrs = ['href', 'src', 'srcset', 'data-src']
        attrs.forEach((j) => {
          document.querySelectorAll(`[${j}^="/"]`).forEach((i) => {
            let sc = document.createElement('link')
            sc.setAttribute('rel', 'prefetch')
            sc.setAttribute('href', i.getAttribute(j))
            document.head.appendChild(sc)
          })
        })
      })
    </script>
  </body>
</html>
